@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Gilroy', sans-serif;
  background-color: white;
}

button, a, [role="button"] {
  @apply cursor-pointer;
}

.card-bg-pattern {
  background-image: url('/$.svg'), url('/pattern-bg.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: auto;
}

.card-bg-pattern-2 {
  background-image: url('/N.svg'), url('/pattern.svg');
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  background-size: auto;
}
